.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
}

@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
}

@media (min-width: 768px) {
.mb-md-0 {
    margin-bottom: 0 !important;
    margin-left: 30px !important;
}
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    padding-right: 25px;
    word-spacing: 10px;
    font-family: 'LondrinaSolid' !important;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

    .navbar-expand-lg .navbar-nav .fa {
        padding-left: 2px;
    }
}

@font-face {
    font-family: 'LondrinaSolid';
    src: url('https://fesothe.com/assets/fonts/LondrinaSolid-Light.ttf');
}

.bg-red {
        background: #dd3333;
        text-align: center;
      }

.bg-team {
        background-image: url("https://cdn.furrys.org/fesothe.com/images/Concrete-Background_1920-min.png");
      }

.bg-cover {
        background-image: url("https://cdn.furrys.org/fesothe.com/images/background.png");
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        background-color: #000000; /* Fallback color */
      }

.fs-5 {
      font-size: 1rem!important;
      font-weight: 300;
      color: #FFFFFF;
    }

.my-cover {
    margin-top: -1.5rem!important;
    vertical-align: middle;
}

.bg-ribbon {
        background: #dd3333;
        text-align: center;
        color: white;

}

.bg-about {
        background: #FFFFFF;
        text-align: center;
        color: white;

}

.bg-ribbon-dark {
        background: #212529 !important;
        text-align: center;
        color: white;

}

.card-text {
  text-align: center;
}

.table {
    color: #ffffff;
  }

.btn-outline-info {
    color: #FFFFFF;
    border-color: #dd3333;
    background-color: #000000;
    border-radius: 25px;
    margin: 30px auto 0;
}

.bold-link {
  font-weight: bold;
  color: white;
}

.copyright {
  color: white;
  text-decoration: none;
  letter-spacing: .4px;
  font-size: 20px;
  font-family: 'LondrinaSolid' !important;
}

.footer-links {
  color: white;
  text-decoration: none;
  letter-spacing: .4px;
  font-size: 15px;
  font-family: 'LondrinaSolid' !important;
}

.display-5 {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.2;
    color: white;
}

.about-text {
    font-size: 18px;
    color: white;
    text-align: left;
}

.dark-about-text {
    font-size: 18px;
    color: black;
    text-align: left;
}

.text-black {
    color: black;
    text-align: center;
}

.centered-titles {
    text-align: center;
    color: white;
}

.centered-subtitles {
    text-align: center;
    color: white;
}

.centered-text {
    font-size: 18px;
    text-align: center;
    color: white;
}

.left-titles {
    font-size: 25px;
    text-align: left;
    color: white;
    font-family: 'LondrinaSolid' !important;
}

.fancy-title {
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: 'LondrinaSolid' !important;
    padding-top: 15px;
    letter-spacing: 2px;
}

.leadsub-text {
    text-align: center;
    color: white;
    font-family: 'LondrinaSolid' !important;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav {
    margin: 0 35px;
}

.fa-lg {
    letter-spacing: 15px;
}

.py-5 {
    padding-top: 6rem !important;

}

.border {
    background: #212529 !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
    padding-top: 1px;
}

.mx-auto {
    max-width: 96%;
    overflow: hidden;
}

.table-width {
    max-width: 90%;
    overflow: hidden;
}

@media (max-width: 767px) {
  .table,
  .table td,
  .table th {
    font-size: 12px;
  }
}

.list-group-item {
    text-decoration: none;
    border: none;
    background-color: #000000;
    padding: 0px 0px;
}

.bg-dark {
    height: 70px;
    background-color: #8224e3 !important;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background-color: #dd3333 !important;
    max-width: 100%;
    margin-top: 10px;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    background-color: #dd3333;
}

.d-flex {
    padding-left: 20px;
}

.mb-2 {
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
    padding-left: 20px;
}

.d-flex {
    padding-left: 0px;
}

.table>thead {
    vertical-align: bottom;
    text-align: left;
}

.wrap {
    background: #000000 !important;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.social-media p a {
    width: 34px;
    height: 34px;
    background: #000000;
    margin-right: 1px;
}

.btn-outline-info:hover {
    color: #000;
    background-color: #fff;
    border-color: #000;
}

body {
background-color: #000000 !important;
}

tbody, td, tfoot, th, thead, tr {
    padding: 1px !important;
}

a:link { 
  color: white !important;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black !important;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

ol, ul {
    padding-left: 2rem;
    text-align: left;
}